<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @empresa.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>

<p>
  <strong>Razon social:</strong>
  <%= @empresa.razon_social %>
</p>

<p>
  <strong>Status:</strong>
  <%= @empresa.status %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
